# Ignore Pycharm
.idea/
*__pycache__

# Ignore Python virutal enviroments
.venv*/

# Ignore data of the project
data/
databases/
metadata/
results/
SOBI_files/
EEG_experts_preprocessing_scripts.zip
*.mat
*.zip

# Ignore all the documents
docs/
excels/

# Ignore some folders
old_AI-Mind_groups/
dist/
SRM_database/